@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Subtle grid pattern */
  background-image: linear-gradient(to right, #1a1a1a 1px, transparent 1px),
                    linear-gradient(to bottom, #1a1a1a 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: #000000;
}

/* Hide scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
